* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

:root {
  --primary-color: #f01965;
  --secondary-color: #727cf0;
  --dark-gray: #333;
  --light-gray: #b4b4b4;
  --purple-color: #c5c9f9;
  --light-pink-color: #fee7ef;
  --dark-pink-color: #f9a0bf;
}

html{
  scroll-behavior: smooth;
}

/* GLOBAL STYLE */

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  color: var(--primary-color);
}

p {
  color: var(--dark-gray);
  overflow-wrap: break-word;
}

section {
  padding: 3.5rem 0;
  display: flex;
}

section .container {
  width: 1140px;
  margin: 0 auto;
  display: flex;
}

section .left,
section.right {
  padding: 2rem;
  flex: 1;
}


button {
  border: none;
  outline: none;
  cursor: pointer;
}

.filled-btn {
  background-color: var(--secondary-color);
  font-size: 1.25rem;
  color: #fff;
  letter-spacing: 2px;
  border-radius: 10px;
}

.filled-btn:hover {
  background-color: var(--primary-color);
}

.outline-btn {
  padding: 10px 30px;
  background-color: #fff;
  border: 2px solid var(--primary-color);
  font-weight: bold;
  border-radius: 6px;
  color: var(--primary-color);
  font-size: 15px;
  margin-top: 1rem;
}

.outline-btn:hover {
  background-color: var(--primary-color);
  color: #fff;

}

.gradient-bg {
  background: linear-gradient(to right, var(--light-pink-color), var(--purple-color));
  display: flex;
}

/* HEADER */

header {
  padding: 0 2rem;
  background-color: #fff;
}

.navbar {
  width: 100%;
  height: 80px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

.navbar .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .logo a {
  color: var(--light-gray);
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .links li a {
  color: var(--light-gray);
  font-size: 1.2rem;
}

.navbar .links li a:hover {
  color: var(--primary-color);
}

.navbar .menu{
  font-size: 2rem;
  cursor: pointer;
  display: none;
  color: var(--dark-gray);
}

.navbar .menu:hover{
  color: var(--primary-color);
}

/* SIDE Bar Section */

.side-bar .backdrop{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  opacity: 0;
  transition: opacity .5s ease-in-out;
}

.side-bar .side-menu{
  padding: 5rem 1rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100vh;
  background-color: var(--dark-gray);
  transform: translateX(-100%);
  transition: transform .5s ease-in-out;
}


.side-bar .side-menu .close-btn{
  position: absolute;
  top: 10px;
  left: 10px;
  width: 40px;
  height: 40px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  cursor: pointer;
}

.side-bar .side-menu .close-btn:hover{
  color: var(--primary-color);
}


.side-bar.open .backdrop{
  opacity: 1;
}

.side-bar.open .side-menu{
  transform: translateX(0);
}



.side-bar .side-menu li{
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.25rem;
  cursor: pointer;
}
.side-bar .side-menu li:hover{
color: var(--primary-color);
}

/* HERO SECTION */

.hero {
  min-height: 670px;
  padding: 0;
  display: flex;
  background-color: #fbfbfb;
}

.hero .left {
  width: 50%;
  background-image: url(/img/hero_bg.png);
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hero img {
  height: 100%;
  object-fit: contain;
}

.hero .right {
  width: 50%;
  display: flex;
  align-items: center;
}

.hero h1 {
  font-size: 6rem;
  line-height: 6rem;
}

.hero p {
  margin-top: 1.5rem;
  max-width: 500px;
  min-width: 30px;
  font-weight: bold;
}

.hero button {
  margin-top: 4rem;
  padding: 10px 30px;
}

/* Work Section */

.work {
  text-align: center;

}

.work .container {
  flex-direction: column;
}

.work h1 {
  font-size: 2.25rem;
  margin-bottom: 1rem;

}

.work .cards {
  margin: 3rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.work .card {
  padding: 30px;
  border-radius: 20px;
  background-color: #d4bfbf;
  border: 2px solid var(--dark-pink-color);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  color: var(--primary-color);
}

.work .card .number {
  width: 50px;
  height: 50px;
  background-color: var(--light-pink-color);
  border-radius: 50%;
  font-size: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.work .card h2 {
  font-size: 1.25rem;
  margin: 20px 0;
}

.work .card p {
  word-break: break-all;
  margin-bottom: 20px;
}

/* ABOUT Section */

.about-us h1 {
  font-size: 2.89rem;
}

.about-us p {
  margin-top: 20px;
  font-size: 1.2rem;
  text-align: justify;
}

.about-us button {
  margin-top: 40px;
  padding: 10px 50px;

}

.about-us .right {
  flex: 2;
}

.about-us img {
  width: 100%;
  display: flex;
}

/* Services section*/

.services .container {
  display: flex;
  flex-direction: column;
}

.services h1 {
  font-size: 3rem;
  text-align: center;
}

.services .cards {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.7rem;
}

.services .card {
  padding: 30px;
  border-radius: 20px;
  background-color: #fff;
  text-align: center;
}

.services .card img {
  width: 100%;
}

.services .card h2 {
  font-size: 1.5rem;
  cursor: var(--primary-color);
}

.services .card p {
  margin-top: 1rem;
}

.services .card button {
  padding: 8px 45px;
  margin-top: 1.5rem;
}

/* Experience Section*/

.experience .container {
  display: flex;
}

.experience .left {
  flex: 2;
}

.experience h1 {
  font-size: 2.25rem;
  margin-bottom: 20px;
}

.experince .right {
  flex: 3;
}

.experience img {
  width: 100%;
  border-radius: 20px;
}

/* Contact Section*/

.contact .cards {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.contact .card {
  min-height: 200px;
  padding: 40px 30px;
  background-color: var(--secondary-color);
  border-radius: 20px;
  color: #fff;
}

.contact .card h2 {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 1.25rem;
}

/* Form section */

.submit .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.submit .left h1 {
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

.submit .right h1 {
  text-align: center;
  margin: 20px 0;
}

.submit form {
  width: 100%;
  padding: 30px;
  background-color: #fff;
  border-radius: 30px;
}

.submit .input-group {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.submit label {
  margin-bottom: 5px;
}

.submit .input {
  background-color: #f2f2f2;
  border: none;
  outline: none;
  padding: 15px 10px;
  border-radius: 10px;
  font-size: 1rem;
}

.submit .btn-wrapper {
  display: flex;
  justify-content: flex-end;
  margin: 2rem 0;
}

.submit .filled-btn {
  padding: 1rem 2rem;
}

/* Footer */

footer {
  padding: 1rem;
  display: flex;
  justify-content: center;
  background-color: var(--dark-gray);
  color: #fff;
}

/* Responsive DESIGN */
/* MAX-WIDTH: 1200px; */

@media(max-width: 1200px){
  section .container{
    width: 940px;
  }
  .hero{
    min-height: 580px ;
  }
  .hero h1{
    font-size: 4.5rem;
  }
}

/* MAX-WIDTH: 992px; */

@media(max-width: 992px){
  section .container{
    width: 720px;
  }

  .navbar .links{
    display: none;
  }

  .navbar .menu{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero{
    flex-direction: column-reverse;
  }
  .hero .left,
  .hero .right{
    width: 100%;
    justify-content: center;
  }
  .hero img {
    width: 70%;
  };
  .hero .info{
    text-align: center;
    padding: 0 1rem;
  }

  .work .cards,
  .services .cards,
  .contact .cards{
    grid-template-columns: 1fr 1fr;
  }
  .about-us .container,
  .experience .container{
    flex-direction: column;
    text-align: center;
  }

  .submit .container {
    flex-direction: column;
  }
.submit form{
  padding: 30px 80px;
}
}
/* MAX-WIDTH: 768px; */

@media(max-width: 768px){
  section{
    padding: 2rem 0;
  }
  section .container{
    width: 548px;
  }
  section .left,
  section .right{
    padding: 2rem 0;
  }
  .work .cards,
  .services .cards,
  .contact .cards{
    grid-template-columns: 1fr;
  }

  .work .card,
  .submit form{
    padding: 30px 20px;
  }
  .services .card{
    padding: 10px 20px 30px;
  }
  .services .card img{
    width: 80%;
  }

  .submit .filled-btn{
    width: 100%;
  }
}
/* MAX-WIDTH: 578px; */

@media(max-width: 578px){
  section .container{
    width: 340px;
  }
  .hero h1{
    font-size: 3.5rem;
  }
}
